{% extends 'passwordmanager/base.html' %}

{% block content %}
<div class="row mb-4">
    <div class="col">
        {% if user.is_authenticated %}
        <h6>{{ user }}'s Primary Vault</h6>
        {% endif %}
    </div>
    <div class="col d-flex justify-content-end">
        <a href="{% url 'password_manager_add' %}" class="btn btn-primary btn-sm">+ Add new credential</a>
    </div>
</div>
<div class="row">
    <div class="col">
        {% if object_list %}
        <table class="table">
            <thead>
                <tr>
                    <th></th>
                    <th>Username</th>
                    <th>Password</th>
                    <th>URL</th>
                    <th></th>
                </tr>
                {% for post in object_list %}
                <tr>
                    <td>{{ post.name }}</td>
                    <td>{{ post.username }}</td>
                    <td class="d-none">
                        <input type="text" class="form-control" id="validationDefault02" placeholder="Last name"
                            value="Otto" disabled>
                    </td>
                    <td>
                        <span id="passwordForPost{{ post.id }}">{{ post.password }}</span>
                        <span class="badge copyToClipboard" id="cpPwdBtnForPost{{ post.id }}"
                            data-clipboard-target="#passwordForPost{{ post.id }}">
                            &#128203;
                        </span>
                    </td>
                    <td>
                        <a href="{{ post.url|lower }}" target="_blank">{{ post.url|lower }}</a>
                    </td>
                    <th class="d-flex justify-content-end">
                        <a href="{% url 'password_manager_detail' post.pk %}"
                            class="btn btn-info btn-sm">Detail</a>&nbsp;
                        <a href="{% url 'password_manager_update' post.pk %}"
                            class="btn btn-warning btn-sm">Update</a>&nbsp;
                        <a href="{% url 'password_manager_delete' post.pk %}" class="btn btn-danger btn-sm">Delete</a>
                    </th>
                </tr>
                {% endfor %}
            </thead>
        </table>
        {% else %}
        <div class="alert alert-warning">No records found!</div>
        {% endif %}
    </div>
</div>
{% endblock content %}

{% block footer %}
<script>
    {% for post in object_list %}
    new ClipboardJS('#cpPwdBtnForPost{{ post.id }}');
    {% endfor %}
</script>
{% endblock footer %}